.about-me-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 65px 0 130px 0;
	background-color: white;
}

.about-me-parent {
	/* max-width: 1000px; */
	width: 70%;
}

.about-me-card {
	display: flex;
	width: 100%;
	box-shadow: 0 0 15px -2px var(--light-black);
	border-radius: 20px;
	overflow: hidden;
	background-color: var(--light-black);
	color: white;
}

.about-me-profile {
	width: 50%;
	background-image: url('../../assets/AboutMe/about-me.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-position: center;
}

.about-me-details {
	width: 48%;
	text-align: left;
	padding: 30px;
}

.about-me-desc {
	font-size: 14px;
}

.about-me-highlights {
	margin: 30px 0;
}

.highlight-heading {
	font-family: 'Poppins Bold';
	font-size: 14px;
	margin: 0 0 5px 0;
}

.highlight {
	display: flex;
	align-items: center;
	margin: 5px 0;
	font-size: 14px;
}

.highlight span {
	margin-left: 8px;
}

.highlight-blob {
	height: 12px;
	width: 12px;
	padding: 0 10px 0 0;
	background-color: var(--light-blue);
	border-radius: 50%;
}

.about-me-options {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ipad pro responsiveness */
@media only screen and (max-width: 1110px) {
	.about-me-parent {
		width: 88%;
	}
	.about-me-options {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (max-width: 898px) {
	.about-me-profile {
		display: none;
	}

	.about-me-details {
		width: 100%;
	}
}

@media only screen and (max-width: 466px) {
	.about-me-options {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.about-me-options .highlighted-btn-dark {
		margin: 24px 0 0 0 !important;
	}
	.about-me-options .primary-btn-dark {
		margin: 0 !important;
	}
	.about-me-options > * {
		width: 100%;
	}

	.highlight-blob {
		height: 12px;
		width: 12px !important;
	}
}
