.main-container {
	height: fit-content;
	width: 100%;
	padding-top: 65px;
	padding-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.central-form {
	max-width: 1100px;
	padding: 20px;
	border-radius: 15px;
	margin: 0 auto;
	background-color: var(--light-black);
}

.title p {
	color: white;
	letter-spacing: 0.1rem;
	margin-left: 17px;
	font-size: 30px;
}

.back-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

.back-form .img-back {
	width: 100%;
	margin-bottom: 20px;
}

.back-form .img-back img {
	width: 100%;
	border-radius: 15px;
}
.central-form form {
	width: auto;
	display: flex;
	color: var(--light-black);
	padding: 15px;
	justify-content: center;
	flex-direction: column;
	margin-top: -52px;
	background-color: white;
	border-radius: 15px;
}

form p {
	text-align: center;
	margin-bottom: 10px;
	color: var(--light-blue);
	letter-spacing: 0.3rem;
	font-family: 'Poppins Bold';
}

form label {
	margin-bottom: 10px;
	color: var(--light-black);
	letter-spacing: 0.2rem;
}

form textarea {
	height: 120px;
}

form input,
textarea {
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	border-radius: 10px;
	transition: 0.1s;
}

textarea:focus,
input:focus {
	border: 2px solid var(--light-blue);
}

.submit-btn {
	margin-bottom: 15px;
}

.submit-btn button {
	margin-top: 15px;
	outline: none;
	width: 160px;
	border: none;
	font-size: 18px;
	border-radius: 19px;
	background-color: var(--light-black);
	color: white;
	align-items: center;
	justify-content: center;
	height: 44px;
}

.submit-btn button:focus {
	border: solid 3px var(--light-blue);
}

.submit-btn button:active {
	transform: translateY(3px);
}

.submit-btn button:hover {
	background-color: var(--light-blue);
}

@media screen and (max-width: 1100px) {
	.central-form {
		width: 98%;
	}
	.back-form {
		max-width: 1100px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}

	form {
		flex: 0.9;
	}
}

@media screen and (max-width: 600px) {
	.main-container {
		padding-bottom: 0;
	}

	.central-form {
		width: 98%;
	}

	.title p {
		font-size: 25px;
	}
}
