.navbar-container {
	display: flex;
	justify-content: center;
	/* height: 100px; */
	background-color: var(--light-black);
	color: white;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10000;
}

.navbar-parent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 70%;
	color: white;
}

.navbar-logo {
	font-size: 50px;
	font-family: 'Poppins ExtraBold';
	color: white;
}

.navbar-options {
	display: flex;
	align-items: center;
}
.navbar-option {
	font-size: 16px;
	cursor: pointer;
	font-weight: 600;
}

.navbar-hamburger {
	display: none;
	color: white;
}

.navbar-option-separator {
	margin: 0 50px 0 0;
	color: white;
}

.selected-navbar-option {
	color: var(--light-blue);
}

.close-navbar-container {
	display: none;
}

@media only screen and (max-width: 1110px) {
	.navbar-container {
		height: 100px;
	}
	.navbar-parent {
		width: 80%;
	}
}

@media only screen and (max-width: 970px) {
	.navbar-hamburger {
		display: block;
	}
	.navbar-parent {
		width: 100%;
		padding: 0 40px;
		position: relative;
	}

	/* side navbar */
	.navbar-options {
		flex-direction: column;
		position: absolute;
		left: -100%;
		top: 0px;
		height: 101vh;
		width: 100%;
		background-color: var(--light-black);
		opacity: 0.97;
		z-index: 1000;
		transition: all 0.8s ease-out;
	}

	.close-navbar-container {
		display: block;
		height: 190px;
	}

	.close-navbar-options {
		position: absolute;
		top: 10px;
		left: 33px;
		height: 60px;
		width: 60px;
		font-size: 50px;
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
	}

	.close-navbar-options:focus {
		border: none;
		outline: none;
	}

	.navbar-option-separator {
		margin: 0;
	}
	.selected-navbar-option {
		color: white;
	}
	.navbar-option {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		color: white;
		height: 212px;
		width: 100%;
	}

	.navbar-option:hover {
		background-color: var(--light-blue);
	}
	.navbar-hamburger-bars {
		font-size: 30px;
		cursor: pointer;
		margin: 0px 10px;
		color: white;
	}

	.show-hamburger-option {
		left: 0;
	}
}
